* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root{
    --base-color: white;
    --text-color: black;
    --fill-color: lightseagreen;
    --fill-color-toggle: #bb77ff;
    --gradient: linear-gradient(to right,#ff8800, #fc4686, #7808f8);
    --gradient-top: linear-gradient(to top, #fc4686 40%, #ff8800);
    --gradient-bottom: linear-gradient(to top, #6146fc, #00ff55);
    --decal-color: #fc4686;
    --decal-color-inverted: #ff8800;
    
   
}
.darkmode{
    --base-color: black;
    --text-color: white;
    --fill-color: #bb77ff;
    --fill-color-toggle: lightseagreen;
    --gradient: linear-gradient(to right, red, yellow, green);
    --gradient-top: linear-gradient(to top, yellow, green);
    --gradient-bottom: linear-gradient(to top, red, yellow);
    --decal-color: #ff8800;
    --decal-color-inverted: #fc4686;
    
}

html {
    scroll-behavior: smooth;
}



#theme-switch{
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--fill-color-toggle);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 40;
    position: fixed;
    bottom: 15px;
    left: 15px;
    border: 0;
}

svg {
  --s: 40px;   /* the size of the image */
  --b: 8px;     /* the border thickness*/
  --g: 20px;    /* the gap */
  --c: var(--decal-color); /* the color */
  
 
  
  outline-color: var(--decal-color);
  
  cursor: pointer;
  transition: .3s;
}
svg:hover {
  outline: 6px solid var(--c);
  outline-offset: 15px;
}

svg {
  border-radius: 50%;
}


#theme-switch svg{
    fill: var(--decal-color);
}

#theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: block;
}


.navbar{
    background: var(--fill-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding:0 50px;
}

#navbar__logo{

    background-color: #bb77ff;
    background-image: var(--gradient);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    font-size: 2rem;
}

.navbar__menu{

    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%
}



.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;




    
}

 .open-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: var(--decal-color);
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer; 
}


.btn-send, .btn-close{
    text-decoration: none;
    padding: 10px 20px;
    width: 100%;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
}

.btn-send:hover, .btn-close:hover{
    opacity: 0.8;
}

.btn-send{
    background-color: #ff8800;
    margin-top: 5px;
  
    
}

.btn-close{
    background-color:#fc4686;
  
}



.form-popup {
  display: none;
  position: fixed;
  top: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}


.form-container {
  max-width: 300px;
  padding-top: 3px;
  background-color: var(--base-color);
  margin-top: 77px;
  position: relative;
}









.form-container .btn:hover, .open-button:hover{
  opacity: 1;
} 



.button:hover, .open-button:hover{
    background: var(--decal-color-inverted);
    color:#fff;
    transition: all 0.3s ease;
}

.navbar__links:hover{
    color: var(--decal-color-inverted);
    transition: all 0.3s ease;
  
}



@media screen and (max-width: 960px) {
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }



    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: var(--fill-color);
    }

    .navbar__menu.active {
        background: var(--fill-color);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left: 25px;
    }
    .navbar__toggle .bar{

        width: 25px;
        height: 3px;
        margin:5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item{
        width: 100%;

    }


    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform:translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;

    }

.button, .open-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
}

.navbar__toggle .bar{
    display: block;
    cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
}



.main{
   background-color: var(--base-color);

}

.main__container {

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: var(--base-color);
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;

}

.main__content h1{
    font-size: 4rem;
    background-color: #8346fc;
    background-image: var(--gradient-top);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2{
    font-size: 4rem;
    background-color: #8346fc;
    background-image: var(--gradient-bottom);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}




.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #fc4686, #ff8800);
    
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}



.main__btn a{
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
    
}

.main__btn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
   background-image: linear-gradient(to top, #6146fc, #00ff55);
   transition: all 0.35s;
   border-radius: 4px;
}



   .main__btn:hover:after{
width: 100%;

   }

   .main__img--container {
    text-align: center;
   }

   #main__img{
    height: 80%;
    width: 80%;
   }

@media screen and (max-width:768px){
    .main__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

.main__content {
    text-align: center;
    margin-bottom: 4rem;
}


}

@media screen and (max-width: 480px){
    .main__content h1{
font-size: 2rem;
margin-top: 3rem;

}




.main__content p{
    margin-top: 2rem;
    font-size: 1.5rem;
}

.main__btn{
    padding: 12px 36px;
    margin: 2.5rem 0;
}
}

/*-----skills----*/

.skills {
    background-color: var(--base-color);
    display: flex;
    
    flex-direction: column;
    align-items: center;
    height: 100%;
 

}

.skills img{

    margin-top: 20px;
    width: 100%;
    
}


.skills h1{
    
    background-image: var(--gradient);
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-color: var(--base-color);
}

.skills__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--base-color) !important;
}

.skills__card{
    margin: 1rem;
    margin-bottom: 70px;
    height: 525px;
    width: 400px;
    border-radius: 8px;
background-color: var(--decal-color-inverted);
    background-size: cover;
    position: relative;
    color: #fff;

}

.skills__card:nth-child(2){
   margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 8px;
    background-color: var(--decal-color-inverted) !important;
    background-size: cover;
    position: relative;
    color: #fff; 
}



.skills h2, .skills__card:nth-child(2) h2{

    position: absolute;
    top: 350px;                                                              
    left: 25px;
}
.skills h3, .skills__card:nth-child(2) h3{

    position: absolute;
    top: 380px;
    left: 25px;
}

.skills h4{
    position: absolute;
    left: 25px;
    top: 460px;
}

.skills__card p,  .skills__card:nth-child(2) p{
    position: absolute;
    top: 400px;
    left: 25px;
    padding-right: 10px;
    padding-top: 5px
}

.skills__card:hover,  .skills__card:nth-child(2):hover{
transform: scale(1.075);
transition: 0.2s ease-in;
cursor: pointer;

}

.skills__card_education,  .skills__card:nth-child(2){
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 8px;
background-color:rgb(255, 136, 0);
    background-size: cover;
    position: relative;
    color: white;

}

.skills__card_education:hover {
transform: scale(1.075);
transition: 0.2s ease-in;
cursor: pointer;

}

.skills__card_education p{
    position: absolute;
    top: 400px;
    left: 25px;
    padding-right: 10px;
    padding-top: 30px
}



@media  screen and (max-width: 1728px){
.skills {
    height: 100%;
    padding-top: 5rem;
}

.skills h1{
    font-size: 2rem;
}

}

@media screen and (max-width: 480px){

    .skills {
        height: 1000px;
    }

    .skills h1 {
        font-size: 1.2rem;
    }

    .skills__card{
        width: 300px;
    }
    
}

@media screen and (max-width: 863px){

.skills__card{
    justify-content: center;
}
                                            
}







/* contact form */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border-radius: 4px; /* Rounded borders */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

form{
    padding: 0 5px;
    }

.form-popup{
    border-color: var(--fill-color);

label{
    color: var(--text-color);

}
}



.dropbtn {
  display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: var(--decal-color-inverted);
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
 
  
}                                         

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--base-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--text-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: var(--decal-color-inverted);

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;

}



/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: var(--decal-color);
}

@media screen and ( max-width:960px ) {
  .form-container{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: var(--base-color);
    border-width: 3px;
    border-style: solid;
    border-color: var(--fill-color);
    
  }
}