* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navbar{
    background: lightseagreen;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding:0 50px;
}

#navbar__logo{

    background-color: #bb77ff;
    background-image: linear-gradient(to right,#fc4686,rgb(255, 136, 0));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    font-size: 2rem;
}

.navbar__menu{

    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;




    
}

.button, .open-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #fc4686;
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;;
}






.form-popup {
  display: none;
  position: fixed;
  top: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}


.form-container {
  max-width: 300px;
  padding-top: 3px;
  background-color: white;
  margin-top: 77px;
}


.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}


.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #ff8800;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:5px;
  opacity: 0.8;
  margin-top: 10px;
}



.form-container .cancel {
  background-color: #fc4686;
}


.form-container .btn:hover, .open-button:hover {
  opacity: 1;
} 



.button:hover, .open-button:hover{
    background: #ff8800;
    color:#fff;
    transition: all 0.3s ease;
}

.navbar__links:hover{
    color: rgb(255, 136, 0);
    transition: all 0.3s ease;
}



@media screen and (max-width: 960px) {
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: lightseagreen;
    }

    .navbar__menu.active {
        background: lightseagreen;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left: 25px;
    }
    .navbar__toggle .bar{

        width: 25px;
        height: 3px;
        margin:5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item{
        width: 100%;

    }


    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform:translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;

    }

.button, .open-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
}

.navbar__toggle .bar{
    display: block;
    cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
}

.main{
   background-color: #fff;

}

.main__container {

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #fff;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;

}

.main__content h1{
    font-size: 4rem;
    background-color: #8346fc;
    background-image: linear-gradient(to top, #fc4686 40%, #ff8800);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2{
    font-size: 4rem;
    background-color: #8346fc;
    background-image: linear-gradient(to top, #6146fc, #00ff55);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}




.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #fc4686, #ff8800);
    
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}



.main__btn a{
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
    
}

.main__btn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
   background-image: linear-gradient(to top, #6146fc, #00ff55);
   transition: all 0.35s;
   border-radius: 4px;
}



   .main__btn:hover:after{
width: 100%;

   }

   .main__img--container {
    text-align: center;
   }

   #main__img{
    height: 80%;
    width: 80%;
   }

@media screen and (max-width:768px){
    .main__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

.main__content {
    text-align: center;
    margin-bottom: 4rem;
}


}

@media screen and (max-width: 480px){
    .main__content h1{
font-size: 2rem;
margin-top: 3rem;

}




.main__content p{
    margin-top: 2rem;
    font-size: 1.5rem;
}

.main__btn{
    padding: 12px 36px;
    margin: 2.5rem 0;
}
}

/*-----skills----*/

.skills {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}

.skills img{

    margin-top: 20px;
    width: 100%;
    
}

.skills h1{
    background-color: #ff8800;
    background-image: linear-gradient(to right,#ff8800, #fc4686, #7808f8);
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}

.skills__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills__card{
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 8px;
background-color:rgb(255, 136, 0);
    background-size: cover;
    position: relative;
    color: #fff;

}

.skills__card:nth-child(2){
   margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 8px;
    background-color:rgb(255, 136, 0);
    background-size: cover;
    position: relative;
    color: #fff; 
}

.skills h2, .skills__card:nth-child(2) h2{

    position: absolute;
    top: 350px;
    left: 25px;
}
.skills h3, .skills__card:nth-child(2) h3{

    position: absolute;
    top: 380px;
    left: 25px;
}

.skills__card p,  .skills__card:nth-child(2) p{
    position: absolute;
    top: 400px;
    left: 25px;
    padding-right: 10px;
    padding-top: 5px
}

.skills__card:hover,  .skills__card:nth-child(2):hover{
transform: scale(1.075);
transition: 0.2s ease-in;
cursor: pointer;

}

.skills__card_education,  .skills__card:nth-child(2){
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 8px;
background-color:rgb(255, 136, 0);
    background-size: cover;
    position: relative;
    color: #fff;

}

.skills__card_education:hover {
transform: scale(1.075);
transition: 0.2s ease-in;
cursor: pointer;

}

.skills__card_education p{
    position: absolute;
    top: 400px;
    left: 25px;
    padding-right: 10px;
    padding-top: 30px
}




@media  screen and (max-width: 960px){
.skills {
    height: 1600px;
}

.skills h1{
    font-size: 2rem;
    margin-top: 12rem;
}
}

@media screen and (max-width: 480px){

    .skills {
        height: 1400px;
    }

    .skills h1 {
        font-size: 1.2rem;
    }

    .skills__card{
        width: 300px;
    }
}

/*-----footer-----*/

.footer__container{
    background-color: lightseagreen;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position: fixed;
    bottom: 0;
    left: 0;
    right:  0;
    height: 30vh;

}


#footer__logo{
    color: #fc4686;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;

}

.footer__links{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper{
    display: flex;

}

.footer__link--items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items h2{
    margin-bottom: 16px;
}

.footer__link--items > h2{
    color: #fc4686;
}

.footer__link--items a{
    color: #fc4686;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover{
    color: #ff8800;
    transition: 0.3s ease-out;
}

/*---social icons  */

.social__icon--link{

color: #fc4686;
font-size: 24px;
}

.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social__logo {
    color: #fc4686;
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}




@media screen and (max-width: 820px) {
    .footer__links{
        padding-top: 2rem;

    }

    #footer__logo{
        margin-bottom: 2rem;
    }


    .footer__link--wrapper{
        flex-direction: column;
    }

    .social__media--wrap {
        flex-direction: column;

    }    
}

@media screen and (max-width: 480px){
 .footer__link--items{
    margin: 0;
    padding: 10px;
    width: 100%;
 }

}



/* contact form */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

form{
    padding: 0 5px;
    }

label{
    color: black;

}


/*-----resume-----*/

.dropbtn {
  display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #fc4686;
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}                                         

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;

}

.dropdown {
    color: white;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #ff8800;
}

